### Infrastructure configuration
project_id = "my-project"
region     = "europe-west1"
kubernetes_version = "1.32"
cluster_name = "educates-cluster"
node_groups = [
  {
    name               = "default-node-pool"
    machine_type       = "e2-medium"
    min_count          = 3
    max_count          = 3
    initial_node_count = 3
    disk_size_gb       = 100
    disk_type          = "pd-balanced" # "pd-standard", "pd-balanced", "pd-ssd"
    image_type         = "COS_CONTAINERD"
    auto_repair        = true
    auto_upgrade       = true
    preemptible        = false
  }
]

### Educates configuration
educates_version = "3.2.2"
TLD = "example.com"